<b>Partlist exported from C:/Users/eaerabi/Git/CalibrationBox-BitBucket/CAD/RelayPCB v2/NI_USB6351_V3.sch at 9/12/2023 2:06 PM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b></b></td></tr>
<tr><td>D1</td><td>1N4148W-7-F</td><td>1N4148W-7-F</td><td>SOD3716X145N</td><td>Diode Switching 150mA 100V 400mW SOD123 Diodes Inc 1N4148W-7-F Switching Diode 100V, 2-Pin SOD-123</td><td></td></tr>
<tr><td>K1</td><td>EA2-5NU</td><td>EA2-5NU</td><td>DIPS762W70P254L1420H540Q10N</td><td>KEMET, EA2, Relays, Signal, 5 V, 220 V, 250 VAC, 1 A, 75 mOhms, 1 GOhms, 14.2mm, 9.2mm, 5.4mm</td><td></td></tr>
<tr><td>Q2</td><td>SSM6N17FU_TE85L,F_</td><td>SSM6N17FU_TE85L,F_</td><td>SSM6N17FUTE85LF</td><td>MOSFET 2-in-1 MOSFET ID=100mA VDSS=50V</td><td></td></tr>
<tr><td>R1</td><td>100</td><td>R-US_R0603</td><td>R0603</td><td>RESISTOR, American symbol</td><td></td></tr>
<tr><td>R2</td><td>100</td><td>R-US_R0603</td><td>R0603</td><td>RESISTOR, American symbol</td><td></td></tr>
<tr><td>R3</td><td>8.2k</td><td>R-US_R0603</td><td>R0603</td><td>RESISTOR, American symbol</td><td></td></tr>
<tr><td>R4</td><td>4.7k</td><td>R-US_R0603</td><td>R0603</td><td>RESISTOR, American symbol</td><td></td></tr>
<tr><td>R5</td><td>390</td><td>R-US_R0603</td><td>R0603</td><td>RESISTOR, American symbol</td><td></td></tr>
<tr><td>R6</td><td>4.7k</td><td>R-US_R0603</td><td>R0603</td><td>RESISTOR, American symbol</td><td></td></tr>
<tr><td>SENSOR</td><td></td><td>MA04-1</td><td>MA04-1</td><td>PIN HEADER</td><td></td></tr>
<tr><td>SV2</td><td></td><td>FE10-1</td><td>FE10</td><td>FEMALE HEADER</td><td></td></tr>
</table>
